#root {
  max-width: 25.875rem;
  margin: 0 auto;
}
.custom-btn {
  padding: 11px 45px;
}
.dashboard-header {
  max-width: 25.875rem;
  margin: auto;
}
.footer {
  max-width: 25.875rem;
  margin: 0 auto;
  height: 125px;
  /* box-shadow: 0 -2px 2.5px rgb(0 0 0 / 4%); */
}
.footer .footer-tab.active:not(.user-tab) svg path {
  fill: #6b14d1;
}
.footer .footer-tab.active.user-tab svg path {
  stroke: #6b14d1;
}
input[type="date"] {
  box-shadow: none;
  -webkit-box-shadow: none;
  background: transparent;
}

.expense-listing-wrap {
  padding-top: 10rem;
  padding-bottom: 105px;
}

.category-wrap .category:nth-child(odd) {
  padding-right: 0.75rem;
}
.category-wrap .category:nth-child(even) {
  padding-left: 0.75rem;
}
.category-wrap .category > div {
  min-height: 86px;
}

/* Transactions Listing Css */
.expense-listing .expense-list-wrap li {
  border-top: 1px solid #E2E2F6;
  font-size: 17px;
  line-height: 20px;
  padding: 18px 20px;
}
.expense-listing .expense-list-wrap li .expense-perentage {
  font-size: 15px;
  line-height: 18px;
  width: 60px;
  height: 30px;
  border-radius: 4px;
}
.expense-category-other {
  background-color: #989CF2;
}
.expense-category-diesel {
  background-color: #9019B8;
}
.expense-category-vedik {
  background-color: #CA2091;
}
.expense-category-car-maintenance {
  background-color: #6B14D1;
}
.expense-header {
  padding: 28px;
}
.add-expense-plus-icon {
  bottom: 40px;
}